* {
  margin: 0px;
  padding: 0px;
}


.header {
  background: black;
  color: white;
  padding: 5px;
  /* padding-left: 5%; */
  margin-bottom: 2%;
}

.music-main {
  /* padding: 10px; */
  /* margin-left: 3%; */
  /* margin-right: 3%; */
  /* padding: 2%; */
  /* border-radius: 9px; */
  /* border: 1px solid red; */
  /* background: white; */
}
body {
  background: white;
  /*background: #DCDCDC;*/
}

.top-container{
  /*background: white;*/
  /*height: 300px;*/
  display: flex;
  padding-left: 25%;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.top-container h3 {
  border-radius: 5px;
  padding: 5px;
  border:1px solid black;
  margin-right: 20px;
}
.top-container h3:hover {
  background: black;
  color: white;
}

/**/
/* music_add_containers */
.create-playlist {
  height: auto;
  width: 65%;
  display: inline-block;
  vertical-align: middle;
  /*color: white;*/
  border: 1px solid black;
  /*background: black;*/
  border-radius: 5px;
  padding-bottom: 2%;
  margin-right: 1%;
  margin-bottom: 2%;

}

.create-playlist h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}
.all-track{
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* width: 100%; */
  /* padding: 1%; */
  /* margin-right: 3%; */

}
.all-track-block {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  height: 325px;
}

.all-track-block span{

}

/* Create PLAYLIST */
.all-track-block-details span{
  width: 65%;
  padding-bottom: 5px;
  padding-left: 10px;
  display: inline-block;
  /* margin-right: 50%; */
  /* border: 1px solid red; */
}

.all-track-block-details img{
  margin-right: 4px;
}
.all-track-block-details span:hover{
  color: #077CFF;
}

.all-track-block {
  overflow-y: scroll;
}


.all-track-block p{
  text-align: center;

}

.all-track-block-details button{
  border-radius: 50%;
  padding-left: 3px;
  padding-bottom: 1px;
  padding-right: 3px;
  background: white;
  color: black;
  border-color: white;
  margin-left: 5px;
}
.all-track-block-details button:hover{
  background: black;
  color: white;
  border-color: black;
}


/* details_music_containers */

.details_music_containers{
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  background: white;

  width: 33%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.add-new-track {
  width: 30%;
  margin-left: 5%;
  height: 350%;
  display: inline-block;
  vertical-align: middle;
  /* border: 1px solid red; */
  margin-top: -85px;
}

.add-new-track-block{
  padding: 10px;
  margin-top: 10px;
}

/* Add new track */
.add-new-playlist span{
  /* display:inline-block; */
  /* width:60px; */
}
.add-new-playlist span.span-id{
  /* margin-top: 10px; */
}

.add-new-playlist input{
  /* margin-left: 10px; */
  margin-bottom: 10px;
 }

input.handleSubmit {
  width: 240px;
  color: white;
  padding: 2px;
  background-color: green;
  border: 1px solid white;
  border-radius: 9px;
}

input.handleSubmit:hover {
  border: 1px solid green;

}

.details_add_edit{
  padding: 10px;
  /* background: ; */
  color: black;
  border-radius: 5px;
  margin-top: 5px;
  height: 245px;
}

/* edit */
kbd {
  margin-left: 2%;
}

.btn_group {
  /* display: inline-block; */
  margin-right: 20px;
}

/* .add-song{
  display: inline-block;
  border: 1px solid red;
  width: 45%;
}
.add-song-block {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  height: 200px;
} */
